# ignore all ds_store files in all directory
**/.DS_Store

# ignore all tex-related files in all dire
**/*.aux
**/*.log
**/*.gz

# ignore __pycache__ directory
__pycache__/

# ignore .idea directory
.idea/